.breadcrumps {
  display: flex;
  @include reset-list;
  margin-bottom: 40px;
}

.breadcrumps__item:not(:last-child) {
  position: relative;
  margin-right: 30px;
  @include hover-active;

  &::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 6px;
    right: -17px;
    transform: rotate(45deg);
    border-top: 1px solid #BDB9B5;
    border-right: 1px solid #BDB9B5;
  }
}

.breadcrumps__item a {
  color: #BDB9B5;
}

.breadcrumps__item--active {
  color: #555248;
}
