.page-header__index-bg {
  background-color: $bg-color;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1285px;
  margin: 0 auto;
  padding-top: 40px;
}

.page-header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.page-header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding: 15px 15px;
  margin-right: 35px;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  @include hover-active;
}

.page-header__menu>span {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 1px;
  vertical-align: bottom;
  background: #1B1A17;
  transition: background .3s .5s;


&::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1B1A17;
  transform-origin: 50% 50%;
  transition: top .3s .3s,transform .3s;
}

&::after {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1B1A17;
  transform-origin: 50% 50%;
  transition: top .3s .3s,transform .3s;
  }
}

.page-header__logo {
  position: relative;
  font-size: 0.75rem;
  font-family: 'playfairdisplay', serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #555248;
  letter-spacing: 2px;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../img/icon-Ellipse.png);
    background-repeat: no-repeat;
    top: -8px;
    left: -25px;
    width: 20px;
    height: 25px;
  }

  @include hover-active;
}

.nav {
  display: flex;
  font-size: 0.87rem;
  @include reset-list
}

.nav__item:not(:last-child) {
  margin-right: 65px;
}

.nav__item-link {
  color: #555248;
}

.nav__item--active .nav__item-link {
  color: #A69876;
}

.user-list {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin-right: 10px;
}

.user-list a {
  @include hover-active;
}

.user-list__item-search {
  margin-right: 25px;
}

.user-list__item-favorite {
  margin-right: 25px;
}

.user-list__favorite-number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6px;
  left: 55px;
  width: 13px;
  height: 13px;
  font-size: 0.5rem;
  border-radius: 50%;
  background-color: #E6C8B4;
}

