@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Robotolight.woff2') format('woff2'),
       url('../fonts/Robotolight.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto.woff2') format('woff2'),
       url('../fonts/Roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Robotomedium.woff2') format('woff2'),
       url('../fonts/Robotomedium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Robotobold.woff2') format('woff2'),
       url('../fonts/Robotobold.woff') format('woff');
}

@font-face {
  font-family: 'playfairdisplay', serif;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfairdisplay.woff2') format('woff2'),
       url('../fonts/playfairdisplay.woff') format('woff');
}

@font-face {
  font-family: 'playfairdisplay', serif;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/playfairdisplaybold.woff2') format('woff2'),
       url('../fonts/playfairdisplaybold.woff') format('woff');
}

@font-face {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Prata.woff2') format('woff2'),
       url('../fonts/Prata.woff') format('woff');
}
